.first {
  position: relative;
}

.first > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.first > .first__contents {
  position: absolute;
  top: 600px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 1200px;
  color: white;
}

.first_contents_Title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.first_contents_Title > span {
  font-size: 15px;
}

.first_contents_Title > h1 {
  font-size: 50px;
}

.first__contents__button {
  padding-top: 20px;
  padding: 16px 50px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  width: fit-content;
  margin-top: 20px;
}
