.header {
  position: fixed;

  width: 100vw;
  background-color: white;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 0px;
  font-size: 14px;

}

.navigagion {
  width: 60%;
  /* margin으로 가운데 */
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoBox {
  height: 100%;
  width: 120px;
}

.logoBox > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.siteBox {
  display: flex;
  gap: 40px;
}

.pages {
  display: flex;
  gap: 25px;
}

.pages > span {
  padding: 12px 10px;
  border-radius: 8px;
  transition: all 0.2s;
}

.pages > span:hover {
  background-color: #e5e5e5;
}

.langs {
  display: flex;
  gap: 10px;
}

.langs > span {
  padding: 12px 10px;
  border-radius: 8px;
  transition: all 0.2s;
}

.langs > span:hover {
  background-color: #e5e5e5;
}

.page2 {
  width: 60%;
 
  /* margin으로 가운데 */
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}


.main2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100vw;
  height: 50vh;

  border: 1px #dbdbdb;

  
 
}



.main2 > h1 {
  padding: 20px 10px 0px 10px;
  font-weight: 700;
  margin-left: 20px;
  margin-right: 20px;
}