

.main {

  width: 100vw;
  height: 100vh;
  background-image: url("https://static.toss.im/assets/homepage/newtossim/new_main.png");
  display: flex;
  justify-content: center;
  object-fit: cover;

}

.contents {
  margin-top: 170px;
  font-family: "pretendard-Regular";
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contents > h1 {
  font-size: 60px;
  font-weight: 700;
  padding: 10px;
}

.title {
  margin-top: 10px;
}

.buttons {
  display: flex;
  gap: 5px;
  padding-top: 50px;
  
}

.button {
  background-color: black;
  border-radius: 8px;
  padding: 20px;
  color: white;
  opacity: 0.8;
  font-weight: 700;
  
  
}

.button:hover {
  opacity: 0.6;
}