.first {
  width: 100vw;
  height: 100vh;
}

.imageBox {
  padding-top: 60px;
  width: 33.3vw;
  height: 100%;
  display: flex;
  transition: all 0.5s;
}

.imageBox > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
}

img:hover {
  filter: brightness(1);
}
